html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color:black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app_cards {
  position: relative;
  height:600px;
  overflow: scroll;
  width: 80%;
  max-width:500px;
  scroll-snap-type: y mandatory;
}

.app_cards::-webkit-scrollbar {
  display:none;
}

.app_cards {
  -ms-overflow-style:none;
  scrollbar-width: none;
}