.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.playlists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.playlist-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-button:hover {
  background-color: #45a049;
}